{% extends 'base.html' %}
{% block content %}
{{ block.super}}
{% load bootstrap4%}
<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
      <br>
      <br>
      <br>
      <div class="card" style="width: 35rem;">

        <!-- {% for image in index_images %}
        <div id="margin">
          <h5 class="card-title">{{profile.username}}</h5>
          <h6>{{image.image_location}}</h6>
        </div>
        <img class="card-img-top" src="{{image.image_path.url}}" alt="{{user.username}}">
        <div class="card-body">
          <p class="card-text">{{image.image_description}}</p>
        </div>
        <div class="card-footer text-muted">
          <form method='post' action='{% url 'comment'%}'>
            {% csrf_token %}
            {{ forms }}
            <input type="hidden"  name="image_id" value="{{image.id}}">
            <input type="submit" name='Submit' value="Submit">
          </form>
        </div>
        <ul class="list-group list-group-flush">
          {% for comment in comments%}
          {% if comment.image_id.id == image.id%}
          <li class="list-group-item">{{comment.comment}}</li>
          {% endif %}
          {% endfor %}
        </ul>
        {% endfor %} -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
